.carousel-01 {
    background-image: url(images/desktop_flipkart_disney_store_749c5319.jpeg);
    height: 500px;
    background-size: 80% 80%;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;

}

/*
@media(max-width:680px) {
    .carousel-1 {
        background-image: url(images/mobile_flipkart_disney_store_e715f7df.jpeg);
    }
}
*/
