@font-face {
    font-family: bolde;
    src: url(fonts/notosans-bold-0453182f82c7.woff);
}

@font-face {
    font-family: regular;
    src: url(fonts/notosans-regular-fbe46f26a338.woff);
}


* {
    margin: 0;
    padding: 0;
    font-family: "regular";
}

#next {
    justify-content: end;
}

#prev {
    justify-content: start;
}

.carousel-caption button {
    float: right;
    padding: .75rem 5rem;
    border-radius: 2rem;
    font-size: 15px;
    font-family: "bolde";
    background: #553188;
    color: #71d9df;
    border-color: #553188;
}

.carousel-caption button:hover, .out-btn button:hover {
    background: #4e2d7d;
    color: #71d9df;
    border-color: #4e2d7d;
}

.carousel1{
    background-image: url(images/desktop_flipkart_disney_store_749c5319.jpeg);
}

.mycard {
    margin-bottom: 40px;
    position: relative;
    display: flex;
}

.mycard p {
    font-size: 1em;
}

.mycard h5 {
    font-size: 1em;
    font-family: "bolde";
}

footer ul {
    list-style-type: none;
}

.out-btn button {
    padding: 0.75rem 5rem;
    border-radius: 2rem;
    font-size: 15px;
    font-family: "bolde";
    background: #553188;
    color: #71d9df;
    border-color: #553188;
}
.footer-links a{
    font-size: 13px;
}
li,li a{
    font-family: "bolde";
    color: #000 !important;
}
h4{
    font-family: "bolde";
}
.cardof2 div{
    text-align: left !important;
}

